*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

.container{
    
    /* border: 2px solid blanchedalmond; */
    top: 500px;
    left: 50%;
    height: 100vh;
    /* transform: translate(-50%, -50%); */
    /* position: relative; */
}

body{
    max-width: 1000px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#question{
    width: 50%;
    height: 2.2em;
    border: 2px solid salmon;
    text-align: center;
    font-size: 2em;
    background-color: honeydew;
    border-radius: 10px;
}

/* #ans1, #ans2, #ans3, #ans4{
    width: 50%;
    height: 30px;
    border: 2px solid salmon;
} */

.ans{
    margin-top: 20px;
    margin: 20px;
    width: 20%;
    height: 3em;
    border: 1px solid gold;
    border-radius: 10px;
}
.ans-greenyellow{
    background-color: greenyellow;
}
.ans-bisque{
    background-color:bisque;
}
.ans-rosybrown{
    background-color: rosybrown;
}

.ans:hover{
    opacity: 0.8;
    transition: opacity 0.2s linear;
    font-weight: bold;
}
