.main-contain #email{
    width: 80%;
    left:10%;
    border: 2px solid black;
}

.main-contain #passwd{
    width: 80%;
    left: 10%;
    border: 2px solid black;
}

.main-contain #login{
    top:30%;
}
