/* ------------------------*/ /* ---------->>> GLOBAL <<<-----------*/ /* ------------------------*/

/* ------------------------*/ /* ---------->>> HEADER <<<-----------*/ /* ------------------------*/
header{
    background-image: url("../img/background.jpg");
    height: 100vh; /* 1vh=1% of viewpoint (size of browser windows)*/
    background-size: cover;
    background-position: center;
}

/* ------------------------*/ /* ---------->>> NAV <<<-----------*/ /* ------------------------*/
.main-nav{
    float: right;
    list-style-type:none;
    margin-top: 30px;
}

.main-nav li{
    display:inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.main-nav li:hover a{
    border: 1px solid white;
}

.row{
    max-width: 1200px;
    margin:auto;
}
/* ------------------------*/ /* ---------->>>END-NAV <<<-----------*/ /* ------------------------*/
p { font-family: Arial, Verdana, Helvetica, sans-serif; }
body{
    font-size: 62.5%;
}