*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
      background: linear-gradient(to right, #5eff002d , yellow);
}
table, th, tr, td{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover{
    background-color: bisque
}

img{
    width: 100px;
    height: 100px;
}

thead{
    font-weight: bold;
}

input{
    border: none;
    font-weight: bold;
    background: transparent;
}
*:focus{
    outline: none;
}