.calculator{
    /* position: relative; */
    margin:auto;
    width: 500px;
    /* height: 600px; */
    
}

#result{
    width: 99.4%;
    height: 60px;
    font-size: 30px;
    border: 1px solid black;
    margin:-2px;
}

.key{
    width: 25%;
    height: 30px;
    margin:-2px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.last-row{
    width: 20%;
    margin: -2px;
}