*{
    margin:0;
    padding: 0;
}
.box {
    /* float: left; */
    display: inline;
}
.box1, .box2, .box3{
    /* width: 300px;
    height: 300px; */
    display: inline;
}
.box1{

    background-color: beige;
}

.box2{

    background-color: aqua;
}

.box3{
    background-color: aquamarine;
}