*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
      background: linear-gradient(to right, #5eff002d , rgba(231, 229, 222, 0.068));
}
table, th, tr, td{
    padding: 10px;
    border: 5px dotted yellowgreen;
    border-collapse: collapse;

}

tr:hover{
    background-color: bisque
}

img{
    width: 100px;
    height: 100px;
}

thead{
    font-weight: bold;
    font-size: 2em;
    border-radius: 10px;
}

input{
    
    border: none;
    font-weight: bold;
    background: transparent;
}
*:focus{
    outline: none;
}