*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow: auto;
}
header{
    background-image: url("../img/banner-halongbay.jpg");
    background-size: cover;
    background-color: bisque;
    background-position: center;
    width: 100%;
    height: 435px;
    overflow: auto;
    position: relative;
    z-index: 1;
}


/* Menu */
.menu-lv1{
    position: relative;
}
.menu-lv2{
    position: absolute;
    display: none;
    z-index: 999;
}
.menu-lv1:hover{
    cursor: pointer;
}
.menu-lv1:hover .menu-lv2{
    display: block;
}

li.menu-lv2__item{
    width: 100%;
    text-align: center;
    display: block;
}
ul li{
    display: inline-block;
}

.fas{
    position: relative;
    top:5px;
}

/* end of menu */

.header__slogan{
    font-family: 'Open Sans', sans-serif;
    color: ghostwhite;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    padding: 10px;
    background-color: #dcd9d94f;
}

.container{
    width: 100%;
}

.noibat{
    text-align: center;
    width: 100%;
}

.noibat .fouritems .fouritems__item{
    display: inline-block;
    height: 300px;
    overflow: hidden;
}

.noibat .fouritems .fouritems__item:hover img{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 1s linear;
}

.noibat .fouritems .fouritems__item p{
    font-size: 1.5em;
    transition: transform 1s linear;
}
.noibat .fouritems .fouritems__item:hover p{
    color: ghostwhite;
    transform: translateY(-100px);
    transition: transform 1s linear;
}
.noibat .fouritems .fouritems__item img{   
    width: 100%;
}

.main-body{
    position: relative;
    overflow: auto;
}

.main-body .main-content{
    width: 79%;
    /* height: 500px; */
    margin-left: 0;
    position: relative;
    /* border: 1px solid black; */
    overflow: auto;
    display: inline-block;
    padding-top:  0;
}

.main-content__item{
    width: 45%;
    overflow: auto;
    margin-top: 0!important;
    margin: 2%;
    display: inline-block;
}
@keyframes rotateAndInverse{
    50% {transform: rotateY(30deg)};
    0%,100%{transform: rotateY(-30deg)}
}
.main-content__item:hover{
    cursor: pointer;
    animation: rotateAndInverse 1s linear;
}
.main-content__item--description{
    text-align: center;
}
.main-content__item img{
    width: 100%;
    margin-top:0;
}

@media only screen and (max-width: 600px) {
    .aside{
        display: none!important;
    }
}
.main-body .aside{
    /* position: fixed; */
    position: absolute;
    top:0; right: 0;
    /* transform: translateY(-50%); */
    width: 20%;
    overflow: auto;
    border: 1px solid black;
    display: inline-block;
}

.aside p{
    padding-top:5px;
    padding-left: 20%;
    padding-bottom: 5px;
    font-weight: lighter;
}

.profile{
    position: relative;
    margin-left:25%;
}
.profile img{
    width: 70%;
    border-radius:50%;
}

.page-footer{
    position: relative;
}

.exlink{
    margin:10px;
}

.sticky{
    position: fixed!important;
    top:0;
    padding-top: 20px;
}

.backtotop{
    position: absolute;
    right: 10px;
    /* bottom: 80px; */
    top: 0;
}